---
import Image from "astro/components/Image.astro";
import { images } from "../assets/images";
---

<div class="flex justify-center items-center py-8 md:py-12">
  <Image
    src={images.UMLogo}
    alt="UMゴルフロゴ"
    class="w-32 h-auto sm:w-40 md:w-48"
  />
</div>
